<%= button_to 'ログアウト', logout_path, method: :delete %>

<h1>写真アップロード</h1>

<%= form_with(model: @photo) do |form| %>
  <% if @photo.errors.any? %>
    <div style="color: red">
      <ul>
        <% @photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :file %>
    <%= form.file_field :file, accept: Photo::ACCEPTABLE_TYPES.join(',') %>
  </div>

  <div>
    <%= form.submit 'アップロード' %>
    <%= link_to 'キャンセル', photos_path %>
  </div>
<% end %>
